USE [master]
GO
/****** Object:  Database [AudioServerDB]    Script Date: 27.06.2023 12:18:28 ******/
CREATE DATABASE [AudioServerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AudioServerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AudioServerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AudioServerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AudioServerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AudioServerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AudioServerDB]
GO
/****** Object:  Table [dbo].[ComputerTable]    Script Date: 27.06.2023 12:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputerTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ComputerNumber] [int] NOT NULL,
	[ComputerIP] [nvarchar](12) NULL,
	[VerticalCoordinates] [int] NULL,
	[HorizontalCoordinates] [int] NULL,
 CONSTRAINT [PK_ComputerTable_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
